<%- include("../shared/_header") %>

<div class="container mt-5">
  <h1>Listing Details</h1>

  <hr class="my-5" />

  <a href="/resources/<%= listing.id %>/edit">Edit listing</a>

  <div>
    <div class="resource-body">
      <p class="resource-text">
        <strong>Address:</strong> <%= listing.address %><br />
        <strong>Price:</strong> <%= listing.price %><br />
        <strong>Description:</strong> <%= listing.description %><br />
        <strong>Property Type:</strong> <%= listing.propertyType %><br />
        <strong>Bedrooms:</strong> <%= listing.bedrooms %><br />
        <strong>Bathrooms:</strong> <%= listing.bathrooms %><br />
        <strong>Square Footage:</strong> <%= listing.squareFootage %><br />
        <strong>Lot Size:</strong> <%= listing.lotSize %><br />
        <strong>Year Built:</strong> <%= listing.yearBuilt %><br />
        <strong>Status:</strong> <%= listing.status %><br />
        <strong>Tags:</strong> <%= listing.tags.join(', ') %><br />
        <strong>Open House Dates:</strong>
        <% if (typeof listing.openHouseDates === 'string') { %> <% const
        datesArray = listing.openHouseDates.split(','); %> <%
        datesArray.forEach(date => { %> <%= date %><br />
        <% }); %> <% } else if (Array.isArray(listing.openHouseDates)) { %> <%
        listing.openHouseDates.forEach(date => { %> <%= date %><br />
        <% }); %> <% } %>

        <br />
      </p>
    </div>
  </div>

  <a href="/resources">Back to List</a>
</div>

<%- include("../shared/_footer") %>
