<%- include("../shared/_header") %>

<div class="container mt-5">
  <div class="text-center">  <h1>User Profile</h1>
  </div>

  <hr class="my-5" />
<div class="text-center mb-4">
  <a href="/users/<%= user.id %>/edit">Edit user</a>

</div>

<div class="container d-flex justify-content-center">
  <div class="">
      <p>
        <strong>First Name:</strong> <%= user.firstName %><br />
        <strong>Last Name:</strong> <%= user.lastName %><br />
        <strong>Nickname:</strong> <%= user.nickname %><br />
        <strong>Email:</strong> <%= user.email %><br />
        <% if (user.role === "AGENT") { %>
        <strong>Agency Name:</strong> <%= user.agentProfile.agencyName %><br />
        <strong>License Number:</strong> <%= user.agentProfile.licenseNumber
        %><br />
        <strong>Phone Number:</strong> <%= user.agentProfile.phoneNumber %><br />
        <strong>Bio:</strong> <%= user.agentProfile.bio %><br />
        <% } %>
        <strong>Role:</strong> <%= user.role %><br />
        <% if (user.avatar) { %>
          <div class="text-center">
            <img
            class="img-thumbnail rounded-circle "
            style="width: 150px; height: 150px; object-fit: cover"
            src="http://localhost:1111/<%= user.avatar %>"
          />
          </div>
     
        <% } else { %> <% } %>
      </p>
    </div>
  </div>

  

  <div class="text-center mt-4">
    <a href="/users">Back to users</a>

  </div>
</div>

<%- include("../shared/_footer") %>
