<%- include("../shared/_header") %>

<div class="container mt-5">
  <div class="text-center">
    <h1>Listing Details</h1>
  </div>

  <hr class="my-5" />

  <div class="text-center mb-4">
    <a href="/listings/<%= listing.id %>/edit">Edit listing</a>
  </div>

  <div class="container d-flex justify-content-center mb-4 mt-4">
    <div class="listing-body">
      <p class="listing-text">
        <strong>Address:</strong> <%= listing.address %><br />
        <strong>Price:</strong> <%= listing.price %><br />
        <strong>Description:</strong> <%= listing.description %><br />
        <strong>Property Type:</strong> <%= listing.propertyType %><br />
        <strong>Bedrooms:</strong> <%= listing.bedrooms %><br />
        <strong>Bathrooms:</strong> <%= listing.bathrooms %><br />
        <strong>Square Footage:</strong> <%= listing.squareFootage %><br />
        <strong>Lot Size:</strong> <%= listing.lotSize %><br />
        <strong>Year Built:</strong> <%= listing.yearBuilt %><br />
        <strong>Status:</strong> <%= listing.status %><br />
        <strong>Tags:</strong> <%= listing.tags.join(', ') %><br />
        <strong>Open House Dates:</strong>

        <br />

        <strong>Listing Images:</strong>
      </p>
      <div class="text-center">
        <% listing.images.forEach(function(image) { %>
        <img
          class="img-thumbnail"
          style="width: 200px; height: 200px; object-fit: cover"
          src="http://localhost:1111/<%= image %>"
        />
        <% }); %>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <a href="/listings">Back to List</a>
  </div>
</div>

<%- include("../shared/_footer") %>
